*{
    font-family:  Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header img{
    width: 25%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* border: 2px solid black; */
}
.header p{
    color: rgb(72, 72, 72);
    margin-left: 30px;
}
i{
    font-size: 25px;
    font-weight: 200;
   
}
.icon{
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.subnav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    /* border: 2px solid black; */
}
.nav{
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.subnav{
    width: 67%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 60px;
    align-items: center;
    
}

/* icons */
#src{
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
#pro{
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
#basket{
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}
/* transition */


.icon i::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.160rem;
    background-color: black;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.icon i:hover::after{
    transform: scale(2,1);
}



.subnav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    background-color: black;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transition: transform 0.3s ease;
}
.subnav a:hover::after{
    transform: scale(1,1);
}



.mid-sec{
    display: flex;
}
.mid-sec img{
    width: 70%;
}
.mid-sec video{

}

.offer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    margin-top: 20px;
}
.offer h1{
    color: white;
    font-weight: bolder;
    font-family: "expsans-bold", Arial;
    font-size: 48px;
    line-height: 48px;
}
.offer h2{
    color: white;
    font-weight: bolder;
    font-family: "expsans-bold", Arial;
    font-size: 30px;
    line-height: 48px;
}

.right p{
    color: white;
    margin-left: 9px;
}
.right a{
    margin-left: 9px;
    margin-top: 8px;
    color: white;
}




.cat{
    display: flex;
    width: 100%;
    height: 300px;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.cat img{
    width: 100%;
}




/* footer */

.apple{
    border-radius: 0;
    border: 0.1px solid black;
    padding: 6px;
    display: flex;
    font-size: 10px;
    background-color: #fff;
}
.apple div{
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
}
.playestore{
    border-radius: 0;
    border: 0.1px solid black;
    padding: 6px;
    display: flex;
    font-size: 10px;
    background-color: #fff;
}
.playestore div{
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
}
.reg a{
   color: black;
    font-weight: bolder;
    font-size: 14px;
    line-height: 50px;
}
.reg{
    margin-top: 20px;
}
.footer{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footer .left{
    width: 20%;
    margin-top: 30px;
    margin-right: 50px;
}
.logos{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.buttons{
    display: flex;
    justify-content: space-between;

}
.table1{
    width: 18%;
}
th{
    text-align: left;
}
td{
    color: rgb(78, 78, 78);
    font-size: 14px;
}
td:hover{
    text-decoration: underline;
}
table{
    line-height: 19px;
    margin-top: 30px;
}
.mainfooter{
    width: 80%;
    margin: auto;

}
.mainfooter>.bot>p{
width: 90%;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
color: rgb(78, 78, 78);
}
.maincat2{
    text-align: center;
    background-color: rgb(250, 248, 255);
}
.maincat2 h1{
    margin-top: 70px;
}
.cat2{
    display: flex;
    height: 500px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.cat2 div{
    width: 20%;
}
.cat2 div h4{
    font-weight: 300;
    text-decoration: underline;
    line-height: 30px;
}
.cat2 img{
    width: 100%;
}





.explorebtn{
    height: 300px;
    width: 100%;
    
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.explorebtn span{
    font-weight: 300;
}
.explorebtn h1{
    margin-top: 60px;
}
.explorebtn button{
    background-color: white;
    padding: 12px;
    font-size: 20px;
    margin-top: 100px;
}
.explorebtn button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.shopeasy{
    text-align: center;
    margin-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    height: 300px;
}
.shopeasy h5{
    text-decoration: underline;
}
.cardshop{
    display: flex;
    margin-top: 30px;
}
.cardshop div{
    line-height: 30px;   
}
.cardshop img{
    width: 100%;
}




.clothicon>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;

}
.clothicon{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.one{
    background-image: url('https://www.express.com/content/dam/express/2022/projects/web/home-landing/12-december/1228-digital-20769-hp/-dt/0102-new-dt_03.jpg');
    background-repeat: no-repeat;
}
.clothicon>div>div h1{
   margin-top: 210px;
   color: #fff;
}
.two{
    background-image: url('https://www.express.com/content/dam/express/2022/projects/web/home-landing/12-december/1228-digital-20769-hp/-dt/0102-new-dt_03-02.jpg');
    background-repeat: no-repeat;
}
.three{
    background-image: url('https://www.express.com/content/dam/express/2022/projects/web/home-landing/12-december/1228-digital-20769-hp/-dt/0102-new-dt_03-03.jpg');
    height: 500px;
    background-repeat: no-repeat;
}

.four{
    background-image: url('https://www.express.com/content/dam/express/2022/projects/web/home-landing/12-december/1228-digital-20769-hp/-dt/0102-new-dt_03-04.jpg');
     background-repeat: no-repeat;
}
.five{
    background-image: url('https://www.express.com/content/dam/express/2022/projects/web/home-landing/12-december/1228-digital-20769-hp/-dt/0102-new-dt_03-05.jpg');
     background-repeat: no-repeat;
}
.six{
    background-image: url('https://www.express.com/content/dam/express/2023/projects/web/home-landing/01-january/0106-digital-22985-hp/-dt/sweaters-dt.jpg');
     height: 500px;
     background-repeat: no-repeat;
}



.content2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 100px
}

.content2 a{
    color: black;
    
}

.content2 div{
    text-align: center;
    font-weight: 700;    
}

.labels{
    font-size: 30px;
    font-weight: bolder;
    padding-left: 20px;
    margin-top: 40px;
}
.content2 img{
    width: 100%;
}
.content2 button{
    background-color: white;
    padding: 12px;
    font-size: 15px;
    width: 150px;
    /* margin-top: 100px; */
}
.content2 button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}




/* WOMEN SECTION */

.bdyright{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    gap: 20px;
    font-size: 15px;
    margin: auto;
    margin-top: 40PX;
}
.bdyright img{
    width: 100%;
}
.bdyright a{
    color: black;
    font-weight: 200;
    margin-left: 5px;
}
.bdyright p:nth-child(2){
    font-weight: 600;
    margin-top: 10px;
}
.bdyright p:nth-child(4){
    margin-top: 10px;
    margin-bottom: 4px;
}
.bdyright p:nth-child(5){
    /* margin-top: 10px; */
    color: gray;
    margin-bottom: 4px;
}
.bdyright p{
    padding: 4px;
}
.bdyright div:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.bdyright p:nth-child(5){
    margin-bottom: 5px;
}
.bdy{
    display: flex;
}



.bdyleft{
    width: 20%;
    margin-left: 30px;
    border-top: 2px solid rgb(117, 117, 117);
    margin-top: 40px;
}
.question{
    display: flex;
    justify-content: space-between;
}
.browse{
    border-top: 2px solid gray;
    padding: 7px;
}
/* .browse.active .browsecat{
    max-height: 500px;
    transition: 0.3s;
}
.browse.active i {
    transition: 0.3s;
    transform: rotate(45deg); */
/* } */
.browsecat{
    line-height: 25px;
    /* color: gray; */
    font-size: 15px;
    /* text-decoration: none; */
    /* max-height: 0; */
    overflow: hidden;
}
.browsecat a{
    display: block;
    text-decoration: none;
    color: gray;
}


.heading{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}
.heading h1{ 
    width: 100%;
}
.heading div{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid gray;
}    

.heading div p{
    margin-top: 10px;
    margin-right: 5px;
}
#sorting:hover{
    background-color: black;
    color: #fff;
    transition: 0.3s;
}

#sortmin{
    padding: 4px;
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 0;
    display: block;
    width: 90px;
    margin-top: 5px;
}

#sortmin:hover{
    color: #fff;
    background: black;
    transition: 0.3s;
}

#min{
    border-radius: 0;
    padding: 5px;
    border: 0.1px solid black;
}
#max{
    border-radius: 0;
    padding: 5px;
    border: 0.1px solid black;
    margin-top: 5px;
}



/* search */
#sidebar{
   
    position: absolute;
    width: 400px;
    height: 100%;
    background-color: #fff;
    left: -400px;
    margin: auto;
}

#sidebar.active{
    left: 0;
    transition: 0.5s ease;
}

#sidebar ul il a{
    list-style: none;
    text-decoration: none;
    color: black;
}

#searchval{
    width: 60%;
    height: 30px;
    margin-left: 30px;
    padding: 5px;
    border: none;
    border-bottom: 0.1px solid black;
}
#srcbtn{
    padding: 5px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border: none;
    border: 0.1px solid black;
}
#srcbtn:hover{
    background-color: black;
    color: #fff;
    transition: 0.3s ease;
}
#sidebar h3{
    margin-top: 30px;
    margin-left: 30px;
}
#sidebar ul{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    /* padding: 30px; */
    text-decoration: none;
}
#sidebar li{
    margin-top: 20px;
    text-decoration: none;
    color: gray;
}
#sidebar li a{
    margin-top: 30px;
    text-decoration: none;
    color: gray;
}